@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px");

/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Slabo 27px', serif; */

.aboutContainerOuter {
  background-color: white;
  height: 300vh;
  box-sizing: border-box;
}

.aboutContainerOuter .aboutContainerInnerDiv {
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 0;
}

.aboutContainerOuter .aboutContainerInnerDiv .menuBar {
  z-index: 5;
  position: absolute;
  margin-right: 0px;
}
.aboutContainerOuter .aboutContainerInnerDiv .menuBar .list {
  font-size: 25px;
}
.aboutContainerOuter .aboutContainerInnerDiv #myVideo {
  height: 96vh;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  position: absolute;
}

.aboutContainerOuter .aboutContainerInnerDiv h1 {
  font-family: "Slabo 30px", serif;
  font-size: 60px;
  color: white;
  grid-row: 2;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  z-index: 2;
  position: relative;
}
.aboutContainerOuter .blackBox1 {
  height: 50px;
  background: black;
  border-style: solid;
  border-color: white;
  z-index: 5;
  position: relative;
}
.aboutContainerOuter .blackBox2 {
  height: 50px;
  background: white;
  border-style: solid;
}

.aboutBioDivParent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutBioDivLeft {
  padding-right: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  grid-column: 1;
  height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.aboutBioDivRight {
  display: grid;
  justify-content: center;

  background-image: url("../../images/codingHubTeam.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.aboutBioDivParent .aboutBioDivLeft .aboutHeaderText {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}
.aboutBioDivParent .aboutBioDivLeft .aboutBioSummary {
  font-family: "Roboto", sans-serif;
}

.aboutBioImages {
  align-items: center;
  justify-items: center;
}

.aboutContainerOuter .skillsContainer {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutContainerOuter .skillsChildLeft {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.aboutContainerOuter .skillsChildLeft .leftTop {
  background-image: url("../../images/window.jpg");
  filter: grayscale(80%);
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.aboutContainerOuter .skillsChildRight {
  height: 70vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.aboutContainerOuter .skillsChildRight .languageText {
  height: 100%;
  margin: 0;
  font-size: 20px;
  grid-row: 2;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.aboutContainerOuter .skillsChildRight .shuttler {
  grid-row: 3;
  width: 100%;
}

.aboutContainerOuter .footer {
  height: 11vh;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  color: white;
}

.aboutContainerOuter .footer a .fontAwe {
  font-size: 50px;
  width: 200px;
  padding-top: 22px;
  color: white;
}
.aboutContainerOuter .footer .footerText {
  font-size: 20px;
  margin-top: 30px;
}

@media only screen and (min-width: 320px) {
  .aboutBioDivParent {
    display: grid;
    grid-template-columns: 1fr;
  }
  .headerText {
    height: 10px;
  }

  .aboutBioDivParent .aboutBioDivLeft .aboutHeaderText {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    margin: 0;
    padding-top: 85px;
  }
  .aboutBioDivParent .aboutBioDivLeft .aboutBioSummary {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    /* padding-bottom: 250px; */
  }
  .aboutBioDivParent .aboutBioDivLeft {
    padding-right: 0;
  }
  /* ------------------------------------------------------ */

  .aboutContainerOuter .skillsContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutContainerOuter .skillsChildLeft {
    visibility: hidden;
  }
  .aboutContainerOuter .skillsChildLeft .leftTop {
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 70%;
    /* display: none; */
  }
  .aboutContainerOuter .skillsChildRight .languageText {
    height: 100%;

    font-size: 17px;

    font-family: "Roboto", sans-serif;
  }
  .aboutContainerOuter .skillsChildRight {
  }
  .aboutContainerOuter .skillsContainer {
    height: 1vh;
  }

  .aboutContainerOuter .footer {
    height: 11vh;
    margin-top: 400px;
  }

  .aboutContainerOuter .footer a .fontAwe {
    font-size: 30px;
    width: 200px;
    padding-top: 22px;
  }
  .aboutContainerOuter .footer .footerText {
    font-size: 20px;
    color: white;
  }
}
