@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px");

/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Slabo 27px', serif; */
.menuBar {
  background: black;

  width: 8vw;
  height: 6vh;
  opacity: 0.8;

  display: grid;
  grid-template-columns: 1;

  box-shadow: 10px 1px 20px 1px rgb(49, 49, 49);
}
