/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Slabo 27px', serif; */
.menuBar {
  position: relative;
  font-family: "Slabo 27px", serif;
  font-size: 30px;
}

.menuBar .homeLink {
  margin: 0;
}

.menuBar .homeList {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.menuBar .homeList .list {
  color: white;
  text-decoration: none;
  font-size: 40px;
  padding-right: 20px;
}
