@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px");

/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Slabo 27px', serif; */

.containerHome {
  color: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.containerHome .fname {
  font-size: 120px;
  text-align: center;
  font-family: "Slabo 27px", serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 240px;
}
.containerHome .lname {
  font-size: 150px;
  text-align: center;
  font-family: "Slabo 27px", serif;
  padding-left: 150px;
  margin-bottom: 0;
  margin-top: 0;
}

.containerHome .nameDisplay {
  height: 200px;
  z-index: 20;
  position: absolute;
  grid-row: 1;
  text-shadow: 2px 4px #000000;
  padding-top: 300px;
}

@media only screen and (min-width: 320px) {
  .containerHome .nameDisplay {
    padding-top: 200px;
  }
  .containerHome .fname {
    font-size: 50px;
    padding-right: 70px;
  }
  .containerHome .lname {
    font-size: 65px;
    padding-left: 70px;
  }

  .containerHome .menuBar .homeList .list {
    font-size: 25px;
  }
}

@media only screen and (min-width: 411px) {
  .containerHome .nameDisplay {
    padding-top: 350px;
  }
  .containerHome .fname {
    font-size: 60px;
  }
  .containerHome .lname {
    font-size: 75px;
  }
}
